.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.card {
  box-shadow: none !important;
}

.card-image {
  height: 14rem; /* Set the desired height */
  border-radius: 5% !important;
  object-fit: cover; /* Add this property */
}

.is-info {
  background-color: #000431 !important;
  border-color: #230050 !important;
}

.button {
  margin: 0.25rem !important;
}

.button.is-link.is-outlined:hover {
  border-color: #ccc; /* change to your desired hover border color */
  transition: border-color 0.1s ease-in-out;
}

.button.is-link.is-outlined:hover {
  border-color: #ccc; /* change to your desired hover border color */
  color: #fff; /* change to your desired hover text color */
  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.event-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #fff;
}

.event-item img {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.event-item div {
  display: flex;
  flex-direction: column; /* Stack title and info vertically */
}

.event-item h2 {
  font-weight: bold; /* Make the title bold */
  margin: 0;
}

.event-item p {
  margin: 0;
}

#eventList {
  margin-top: 50px; /* match the margin-top value of #eventDetails */
}

#eventDetails {
  padding-left: 1.5rem;
  margin-top: 50px; /* adjust this value to your needs */
  padding-bottom: 150px; /* add some space inside the container */
}

@media (max-width: 768px) {
  .event-details {
    flex-direction: column;
    align-items: center;
  }
}

.event-details {
  display: flex;
  align-items: flex-start;
}

.event-details img {
  width: 300px;
  margin-right: 20px;
}

.event-details-title {
  font-size: 2rem;
  font-weight: bold;
}

.event-details-description {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: justify;
}
