html, body {
  scroll-behavior: smooth;
  margin: 100;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  border-radius: 10px;
}

html::-webkit-scrollbar {
  display: none;
}

#Welcome {
  margin-top: 15px;
  margin-bottom: -125px;
}

.WelcomeSub span {
  opacity: 0;
  display: inline-block;
}

#Team .hero-body {
  padding-top: calc(82px) !important; /* adjust to the height of your top navbar */
  padding-bottom: calc(1000px) !important; /* adjust to the height of your footer */
}

.spacer {
  height: 500px; /* adjust to the desired space between sections */
}

.policy-title {
  margin-top: 60px;
}

.policy-answer {
  margin-top: -22.5px;
  margin-bottom: 35px;
  text-align: justify;
}

.policy-list {
  margin-top: -22.5px;
  margin-bottom: 35px;
  margin-left: 75px;
}