html, body {
  scroll-behavior: smooth;
  margin: 100;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  border-radius: 10px;
}

html::-webkit-scrollbar {
  display: none;
}

#Team .hero-body {
  padding-top: calc(82px) !important; /* adjust to the height of your top navbar */
  padding-bottom: calc(1000px) !important; /* adjust to the height of your footer */
}

.spacer {
  height: 500px; /* adjust to the desired space between sections */
  background-image: url('/Images/Spacer.jpg');
  background-position: center;
}

.policy-title {
  margin-top: 60px;
}

.policy-answer {
  margin-top: -22.5px;
  margin-bottom: 35px;
  text-align: justify;
}

.policy-list {
  margin-top: -22.5px;
  margin-bottom: 35px;
  margin-left: 75px;
}

/* Index Page Styles */

#Welcome {
  background-position: center;
  background-size: cover;
}

#AboutUs {
  background-position: center;
  background-size: cover;
}

#Team {
  background-position: center;
}

#Contact {
  background-position: center;
}

/* Events Page Styles */

#WelcomeEvent {
  background-image: url('/Images/MainEv.jpg');
  background-position: center;
  background-size: cover;
}

#EventsSummary {
  background-image: url('/Images/EventsBG.jpg');
  background-position: center;
  background-size: cover;
}

.footer{
  background-color: #00010c !important;
}