.navbar {
  background-color: rgba(0, 1, 12, 0.5) !important;
}

@media (max-width: 768px) {
  .navbar-menu {
    background-color: rgba(0, 1, 12, 0.5) !important;
    text-align: center;
  }
}

.navbar-menu.is-active {
  animation: slideDown 0.5s forwards ease-in-out;
}

.navbar-menu.is-closing {
  animation: slideUp 0.5s forwards ease-in-out;
}
