
.player-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.player-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease-in-out; /* this is mf doesn't want to work */
}

.player-card.dead {
    opacity: 0.5 !important;
    border-color: rgba(255, 0, 0, 0.4);
}

.player-card.alive {
    border-color: rgba(0, 255, 0, 0.4);
}

.player-card:hover {
    transform: translateY(-5px) !important;
}

.player-card.alive:hover {
    border-color: rgba(0, 255, 0, 0.8);
}

.player-card.dead:hover {
    border-color: rgba(255, 0, 0, 0.8);
}

.player-card img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.player-name {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.player-quote {
    color: #888;
    font-style: italic;
    font-size: 0.9rem;
}

.player-card-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-card.admin {
    border-color: rgba(255, 217, 0, 0.801); /* Gold border */
    background-color: rgba(255, 217, 0, 0.1);
}

.player-card.admin:hover {
    border-color: rgba(255, 215, 0, 0.8); /* Darker gold on hover */
    background-color: rgba(255, 215, 0, 0.2);
}
