
.player-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.player-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    animation: initial-animation 0.3s forwards, hover-animation 0.3s forwards;
    animation-fill-mode: forwards;
    animation-delay: 0s, 0.3s; /* delay hover animation until initial animation completes */
  }
  
.player-card.dead {
    opacity: 0.5 !important;
    border-color: rgba(255, 0, 0, 0.4);
}

.player-card.alive {
    border-color: rgba(0, 255, 0, 0.4);
}

.player-card img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.player-name {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.player-quote {
    color: #888;
    font-style: italic;
    font-size: 0.9rem;
}

.player-card-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-card.admin {
    border-color: rgba(255, 217, 0, 0.801); /* Gold border */
    background-color: rgba(255, 217, 0, 0.1);
}

.player-card.admin:hover {
    border-color: rgba(255, 215, 0, 0.8); /* Darker gold on hover */
    background-color: rgba(255, 215, 0, 0.2);
}

.pagination-links {
    margin-top: 5px;
    text-align: center;
  }
  
  .pagination-links a {
    margin: 0 2px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #09012e;
    color: #cccccc;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .pagination-links a:hover {
    background-color: #337ab7;
    color: #fff;
  }
  
  .pagination-links a.is-active {
    background-color: #337ab7;
    color: #fff;
    border: none;
  }

  .pagination-links .prev-button,
  .pagination-links .next-button {
    background-color: #09012e;
    color: #cccccc;
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .pagination-links .prev-button:hover,
  .pagination-links .next-button:hover {
    background-color: #23527c;
    color: #fff;
  }

  #mods-carousel {
    max-width: 800px; /* adjust this value to your desired width */
    margin: 0 auto;
    overflow: hidden; /* add a horizontal scrollbar if the carousel items exceed the width of the carousel */
    border-radius: 20px; /* add a 10px border radius to the carousel items */
    height: 420px;
  }

  .carousel-item img {
    border-radius: 20px; /* add a 10px border radius to the images */
  }
  