html, body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

html::-webkit-scrollbar {
  display: none;
}

.WelcomeSub span {
  opacity: 0;
  display: inline-block;
}

.navbar {
  background-color: #00010c !important;
}

.navbar-menu {
  background-color: #00010ce7 !important;
  text-align: center;
}


@media (max-width: 768px) { 
  html, body {
    overflow: auto; /* Enable scrolling on mobile */
  }

  @keyframes slideDown {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateX(0%);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .navbar-menu {
    display: none; /* Hide by default */
    position: absolute;
    top: 100%; /* Position below the navbar */
    left: 0;
    right: 0;
    background-color: white; /* Ensure it has a background */
    z-index: 1000; /* Ensure it stays on top */
  }

  .navbar-menu.is-active {
    display: block;
    animation: slideDown 0.5s forwards ease-in-out;
  }

  .navbar-menu.is-closing {
    animation: slideUp 0.5s forwards ease-in-out;
  }
}

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.card{
  box-shadow: none !important;
}

.card-image{
  height: 22vh;
  border-radius: 5% !important;
}

.is-info{
  background-color: #000431 !important;
  border-color: #230050 !important;
}

.footer{
  background-color: #00010c !important;
}

.button{
  margin: 0.25rem !important;
}

.event-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #fff;
}

.event-item img {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.event-item div {
  display: flex;
  flex-direction: column; /* Stack title and info vertically */
}

.event-item h2 {
  font-weight: bold; /* Make the title bold */
  margin: 0;
}

.event-item p {
  margin: 0;
}

#eventDetails {
  padding-left: 1rem;
}